<div
  class="relative overflow-x-auto shadow-md sm:rounded-lg mx-auto max-w-[900px] mt-10"
>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Product name
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          +
        </th>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Quantity
        </th>
        <th scope="col" class="px-6 py-3 items-center">
          -
        </th>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Stock
        </th>
        <th class="flex items-center px-6 py-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 448 512"
          ><path
              d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"
            /></svg>
        </th>
      </tr>
    </thead>
    {{#each cart.products}}
      <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
          >
            {{this.product.title}}
          </th>
          <td class="px-6 py-4">
            {{this.product.description}}
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            {{this.product.category}}
          </td>
          <td class="px-6 py-4">
            {{this.product.price}}
          </td>
          <td>
            <button onclick="increaseQuantity({{@index}})">+</button>
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            <span id="quantity{{@index}}">{{this.quantity}}</span>
          </td>
          <td class="px-6 py-4">
            <button onclick="decreaseQuantity({{@index}})">-</button>
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            <span>{{this.product.stock}}</span>
          </td>
          <td class="flex items-center justify-center">
            <button
              id="deleteProduct"
              onclick="deleteProduct('{{this.product._id}}')"
              class="bg-blue-200 hover:bg-red-600 text-white font-bold py-4 px-4 rounded"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 448 512"
              ><path
                  d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"
                /></svg></button>
          </td>
        </tr>
      </tbody>
      <div
        style="display: none;"
        id="spinner"
        class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
      >
        <div role="status" class="flex items-center justify-center h-screen">
          <svg
            aria-hidden="true"
            class="inline w-16 h-16 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600 top-50 left-50"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    {{/each}}
  </table>
  <div class="flex items-center justify-center mt-4 gap-2 mb-4">
    <button
      id="checkout"
      class="bg-blue-500 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded"
    >Purchase</button>
  </div>
  <footer class="py-6 dark:bg-gray-800 dark:text-gray-50 mt-auto">
    <div
      class="container mx-auto flex flex-col justify-around p-4 text-center md:p-10 lg:flex-row"
    >
      <div class="flex flex-col justify-center lg:text-left">
        <p
          class="mb-1 text-sm font-medium tracki uppercase dark:text-violet-400"
        ></p>
        <h1 class="py-2 text-3xl font-medium leadi title-font">Visite la tienda
          para ver mas productos!</h1>
      </div>
      <div
        class="flex flex-col items-center justify-center flex-shrink-0 mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 lg:ml-4 lg:mt-0 lg:justify-end"
      ><a href="/">
          <button
            class="inline-flex items-center px-6 py-3 rounded-lg dark:bg-violet-400 dark:text-gray-900"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M9.5 21.5V18.5C9.5 17.5654 9.5 17.0981 9.70096 16.75C9.83261 16.522 10.022 16.3326 10.25 16.201C10.5981 16 11.0654 16 12 16C12.9346 16 13.4019 16 13.75 16.201C13.978 16.3326 14.1674 16.522 14.299 16.75C14.5 17.0981 14.5 17.5654 14.5 18.5V21.5"
                  stroke="#1C274C"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M21 22H9M3 22H5.5"
                  stroke="#1C274C"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M19 22V15"
                  stroke="#1C274C"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M5 22V15"
                  stroke="#1C274C"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M11.9999 2H7.47214C6.26932 2 5.66791 2 5.18461 2.2987C4.7013 2.5974 4.43234 3.13531 3.89443 4.21114L2.49081 7.75929C2.16652 8.57905 1.88279 9.54525 2.42867 10.2375C2.79489 10.7019 3.36257 11 3.99991 11C5.10448 11 5.99991 10.1046 5.99991 9C5.99991 10.1046 6.89534 11 7.99991 11C9.10448 11 9.99991 10.1046 9.99991 9C9.99991 10.1046 10.8953 11 11.9999 11C13.1045 11 13.9999 10.1046 13.9999 9C13.9999 10.1046 14.8953 11 15.9999 11C17.1045 11 17.9999 10.1046 17.9999 9C17.9999 10.1046 18.8953 11 19.9999 11C20.6373 11 21.205 10.7019 21.5712 10.2375C22.1171 9.54525 21.8334 8.57905 21.5091 7.75929L20.1055 4.21114C19.5676 3.13531 19.2986 2.5974 18.8153 2.2987C18.332 2 17.7306 2 16.5278 2H16"
                  stroke="#1C274C"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g></svg>
            <span class="flex flex-col items-start ml-4 leadi">
              <span class="mb-1 text-xs">Tienda Online</span>
              <span class="font-semibold title-font">Productos Varios!</span>
            </span>
          </button>
        </a>
      </div>
    </div>

  </footer>
</div>

<script src="js/cart.js"></script>