<section class="mt-0">
  <div class="text-center bg-gray-300">
    <h1 class="font-bold font-sans text-sm p-4">Vista Admin, Crear, Editar,
      Borrar producto</h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-3">

    <form id="product-form" class="max-w-[300px] p-4 mt-4">
      <h2 class="text-black font-bold underline">Cargar un nuevo producto</h2>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="title"
          >
            Title
          </label>
          <input
            class="appearance-none block w-full h-8 bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="title"
            type="text"
            placeholder="Product Title"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="description"
          >
            Description
          </label>
          <textarea
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-8"
            id="description"
            placeholder="Product Description"
          ></textarea>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="price"
          >
            Price
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-8"
            id="price"
            type="number"
            step="0.01"
            placeholder="Product Price"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="thumbnail"
          >
            Thumbnail
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-8"
            id="thumbnail"
            type="text"
            placeholder="Product Thumbnail URL"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="code"
          >
            Code
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-8"
            id="code"
            type="text"
            placeholder="Product Code"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="stock"
          >
            Stock
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-8"
            id="stock"
            type="number"
            placeholder="Product Stock"
          />
        </div>

      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="category"
          >
            Category
          </label>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-black py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="category"
            >
              <option value="" disabled selected>Select a category</option>
              <option value="pantalones">PANTALONES</option>
              <option value="remeras">REMERAS</option>
              <option value="zapatos">ZAPATOS</option>
              <option value="camisas">CAMISAS</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-black"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              ><path
                  d="M14.707 7.293a1 1 0 0 0-1.414 0L10 10.586 6.707 7.293a1 1 0 1 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l3-3a1 1 0 0 0 0-1.414z"
                /></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <button
            class="bg-gray-900 hover:bg-gray-400 hover:text-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
            type="submit"
          >
            Crear producto nuevo
          </button>
        </div>
      </div>
    </form>

    <div class="mt-4 p-4 flex flex-col mx-auto">
      <div class="gap-4 flex flex-col-reverse items-center mt-4">
        <div class="bg-white rounded-md p-3 shadow-md">
          <h2 class="text-black font-bold p-2">Eliminar un producto por ID</h2>
          <form
            id="productdeleteForm"
            class="space-y-4"
            method="post"
            name="productos"
          >
            <div class="space-y-2">
              <label for="id" class="font-medium block"></label>
              <input
                type="text"
                id="id"
                name="id"
                class="w-full px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
              />
            </div>
            <button
              class="w-full hover:bg-red-500 bg-gray-900 text-white py-2 px-3 rounded-md"
            >Eliminar</button>
          </form>
        </div>
        {{! Vista de producto }}
        <div
          class="product-card flex-none w-72 h-auto mx-auto rounded-lg border border-gray-300 bg-white shadow-lg hover:shadow-2xl transition duration-500"
        >
          <h2 class="font-sans">Product ID: <strong>{{_id}}</strong></h2>
          <div
            class="product-image relative w-full h-64 group-hover:bg-black/10 group-hover:opacity-100 overflow-hidden"
          >
            <!-- Rest of the image content -->
            <span
              class="discount-tag absolute top-4 right-4 p-2 rounded text-red-500 font-sans capitalize bg-gray-200"
            >50% off</span>

            <span class="ml-4 mt-4"><i
                class="fa-regular fa-pen-to-square"
              ></i></span>
            <img
              src={{this.thumbnail}}
              class="product-thumb w-full h-full object-cover"
              alt={{this.title}}
            />
            <input
              type="file"
              id="imageInput"
              style="display: none;"
              accept="image/*"
              multiple="false"
              accept="image/png, image/jpeg"
            />
            <button
              onclick="openImageUploader(this)"
              data-id="{{_id}}"
              class="absolute bottom-0 left-1/2 transform -translate-x-1/2 p-2 rounded capitalize bg-gray-900 transition duration-100 cursor-pointer font-semibold w-full text-white font-sans text-center hover:text-red-800"
            >
              Editar Imagen
              <i class="fa-solid fa-cart-shopping text-white ml-4"></i>
            </button>
            {{!--    <button
              onclick="editImage(this)"
              data-id="{{this.id}}"
              class="absolute bottom-0 left-1/2 transform -translate-x-1/2 p-2 rounded capitalize bg-gray-900 transition duration-100 cursor-pointer font-semibold w-full text-white font-sans text-center hover:text-red-800"
            >Editar Imagen
              <i class="fa-solid fa-cart-shopping text-white ml-4"></i>
            </button> --}}
          </div>
          <div class="product-info p-2 font-sans">
            <h2
              class="product-brand text-uppercase font-bold text-lg"
            >{{this.title}}</h2>
            <p
              class="product-short-description truncate opacity-50 capitalize my-1 truncate-l"
            >{{this.description}}</p>
            <div class="price-container flex items-center justify-between">
              <span
                class="price font-semibold text-lg text-black"
              >${{this.price}}</span>
              <span
                class="actual-price ml-4 text-gray-400 line-through"
              >${{this.price}}</span>
              <span class="font-bold font-sans">Stock{{this.stock}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    {{! FORM EDIT PRODUCT }}
    <form id="product-form-edit" class="w-full max-w-sm p-2">
      <h2 class="text-black font-bold p-2">Editar un producto</h2>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="id"
          >
            ID DE PRODUCTO A EDITAR
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black font-sans border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-8"
            id="idEdit"
            type="text"
            placeholder={{_id}}
            value={{_id}}
          />

        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="title"
          >
            Title
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 font-bold font-sans focus:outline-none focus:bg-white h-8"
            id="titleEdit"
            type="text"
            placeholder="Product Title"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="description"
          >
            Description
          </label>
          <textarea
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 font-bold font-sans focus:outline-none focus:bg-white h-8"
            id="descriptionEdit"
            placeholder="Product Description"
          ></textarea>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="price"
          >
            Price
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 font-bold font-sans focus:outline-none focus:bg-white h-8"
            id="priceEdit"
            type="number"
            step="0.01"
            placeholder="Product Price"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="thumbnail"
          >
            Thumbnail
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 font-bold font-sans focus:outline-none focus:bg-white h-8"
            id="thumbnailEdit"
            type="text"
            placeholder="Product Thumbnail URL"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="code"
          >
            Code
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 font-bold font-sans focus:outline-none focus:bg-white h-8"
            id="codeEdit"
            type="text"
            placeholder="Product Code"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="stock"
          >
            Stock
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 font-bold font-sans focus:outline-none focus:bg-white h-8"
            id="stockEdit"
            type="number"
            placeholder="Product Stock"
          />
        </div>

      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="category"
          >
            Category
          </label>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-black py-3 px-4 pr-8 rounded font-bold font-sans focus:outline-none focus:bg-white focus:border-gray-500"
              id="categoryEdit"
            >
              <option value="" disabled selected>Select a category</option>
              <option value="pantalones">PANTALONES</option>
              <option value="remeras">REMERAS</option>
              <option value="zapatos">ZAPATOS</option>
              <option value="camisas">CAMISAS</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-black"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              ><path
                  d="M14.707 7.293a1 1 0 0 0-1.414 0L10 10.586 6.707 7.293a1 1 0 1 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l3-3a1 1 0 0 0 0-1.414z"
                /></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
          <button
            class="bg-gray-900 hover:bg-gray-400 hover:text-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
            type="submit"
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </form>
  </div>

</section>

<div
  style="z-index: 9999; display: none;"
  id="spinner"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
>
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
  >
    <div
      class="w-16 h-16 border-4 border-dashed rounded-full animate-spin dark:border-violet-400"
    ></div>
  </div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productsDb.js"></script>